name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: install nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: setup nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: check flake
        run: nix flake check

      - name: build
        run: nix build

      - name: run
        run: nix run . -- -h

      - name: clippy
        run: cargo clippy -- -D warnings

      - name: fmt check
        run: cargo fmt --check
